<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.ModernUI.Interfaces" version="1.0.8.1" targetFramework="net472" />
  <package id="Gu.Wpf.ModernUI" version="1.0.8.1" targetFramework="net472" />
  <package id="IDisposableAnalyzers" version="2.1.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="PropertyChangedAnalyzers" version="2.7.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>